/* start custom scss snippet */
/* Text align to the right */
.text-right { text-align: right !important; }

/* Text align to the left */
.text-left { text-align: left !important; }

/* Text align to the center */
.text-center { text-align: center !important; }
/* end custom scss snippet */
